#top {
  background-color: rgb(46, 46, 46);
  height: 100vh;
}

.navbar-brand {
  padding-top: 50px;
  font-size: 2rem;
  font-family: "Handlee", cursive;
}

.mid {
  margin-top: 20vh;
}

#time {
  color: rgb(247, 251, 255);
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}

#date {
  font-family: "lato", sans-serif;
  padding-top: 10px;
  font-size: 1.3rem;
}

h2,
h3 {
  color: #fff;
}

h4 {
  text-align: center;
  color: rgb(108, 108, 108);
  font-family: "Handlee", cursive;
  bottom: 10%;
  margin-top: 30vh;
}

@media (min-width: 1400px) {
  .navbar-brand {
    padding-top: 70px;
    font-size: 3rem;
    font-family: "Handlee", cursive;
  }

  .mid {
    margin-top: 23vh;
  }

  #time {
    color: rgb(247, 251, 255);
    font-family: "Lato", sans-serif;
    font-size: 4rem;
  }

  #date {
    font-family: "lato", sans-serif;
    padding-top: 12px;
    font-size: 1.8rem;
  }

  h4 {
    text-align: center;
    color: rgb(108, 108, 108);
    font-family: "Handlee", cursive;
    margin-top: 40vh;
  }
}

@media (max-width: 850px) {
  .navbar-brand {
    padding-top: 70px;
    font-size: 2.8rem;
    font-family: "Handlee", cursive;
  }

  #time {
    color: rgb(247, 251, 255);
    font-family: "Lato", sans-serif;
    font-size: 3rem;
  }

  #date {
    font-family: "lato", sans-serif;
    padding-top: 12px;
    font-size: 1.5rem;
  }

  h4 {
    text-align: center;
    color: rgb(108, 108, 108);
    font-family: "Handlee", cursive;
    margin-top: 40vh;
  }
  .mid {
    margin-top: 25vh;
  }
}

@media (max-width: 450px) {
  .navbar-brand {
    padding-top: 70px;
    font-size: 2.5rem;
    font-family: "Handlee", cursive;
  }

  #time {
    color: rgb(247, 251, 255);
    font-family: "Lato", sans-serif;
    font-size: 2.5rem;
  }

  #date {
    font-family: "lato", sans-serif;
    padding-top: 12px;
    font-size: 1.3rem;
  }

  h4 {
    text-align: center;
    color: rgb(108, 108, 108);
    font-family: "Handlee", cursive;
    margin-top: 70%;
  }
}
